/* CSS RESET */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}

.logo-wrapper img {
  width: 100px;
}

.img-wrapper img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

/* Navigation CSS */
.top-nav {
  background-color: #99c455;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.navigation {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.item {
  display: flex;
  align-items: center;
}

.nav-items {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link:hover {
  text-decoration: 2px underline #7a176e;
  cursor: pointer;
}

.maroon-btn {
  background-color: #7a176e;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.maroon-btn:hover {
  background-color: #5f1156;
}

/* Hidden Nav */

.menu {
  display: none;
  cursor: pointer;
}

.hidden-nav {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.dropdown-nav {
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
}

.hidden-nav-link {
  background-color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.hidden-nav-link:hover {
  background-color: #99c455;
}

.no-display {
  display: none;
}

/* Input Background */

.background-color{
 background-color: #99c455;
  padding: 10px;
  margin-bottom: 20px;
}

/* Results title */
.results-title{
  text-align: center;
  padding: 20px;
}

/* No results Display */

.error-msg{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

/* Results section */

.vehicle-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.results-container {
  margin: 10px;
  border-radius: 10px;
  filter:  drop-shadow(0 0 0.75rem rgb(198, 198, 198));
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-div {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centred-div{
display: flex;
justify-content: center;
flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.feature {
  display: flex;
}

.title-row {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.green {
  color: #5c821f;
}
.white {
  display: flex;
  gap: 20px;
  border: 2px solid #99c455;
  border-radius: 10px;
  align-items: center;
}

.title {
  font-size: 1.6em;
  margin: 10, 0;
}

.purple{
  color:#7a176e;
  font-weight: 600;
}

.feature-title {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.sub-title {
  font-size: 0.8em;
}

.select-btn {
  display: flex;
  align-items: center;
  background-color: #729932;
  font-size: 1em;
  padding: 5px 20px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.select-btn:hover {
  background-color: #5a772b;
}


@media screen and (max-width: 920px){


  .input-container{
    flex-direction: column;
  }

  .search-btn{
    justify-content: center;
  }

  .row{
    flex-direction: column;
    gap: 10px;
  }

  .error-msg{
    flex-direction: column;
  }

  .results-container{
    flex-direction: column;
    align-items: center;
  }

  .white{
    width: 90%;
    padding: 10px;
  }

  .promo-container{
    flex-direction: column;
  }

  .promo-heading{
    text-align: center;
  }

  .promo-row{
    flex-direction: column;
    gap: 10px;
  }

  iframe{
    width: 90%;
    height: 250px;
  }

  .video{
    margin-top: 50px;
  }

  p{
    text-align: center;
  }

  .footer-div{
    flex-direction: column;
    justify-content: center;
  }
  .links{
    align-items: center;
  }
}

@media screen and (max-width: 705px){

  .nav-link{
    display: none;
  }

  .maroon-btn{
    display: none;
  }

  .menu{
    display: block;
  }
}

@media screen and (max-width: 510px) {
  .item{
    display: none;
  }
  
}
