/* CSS RESET */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p, span {
  margin: 0;
  padding: 0;
}

.logo-wrapper img {
  width: 100px;
}

.img-wrapper img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
}

/* Navigation CSS */
.top-nav {
  background-color: #99c455;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.navigation {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.item {
  display: flex;
  align-items: center;
}

.nav-items {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link:hover{
  text-decoration: 2px underline #7a176e;
  cursor: pointer;
}

.maroon-btn {
  background-color: #7a176e;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.maroon-btn:hover{
  background-color:#5f1156;
}

/* Hidden Nav */

.menu{
  display: none;
  cursor: pointer;
}

.hidden-nav{
  position: absolute;
  z-index: 10;
  width: 100%;
}

.dropdown-nav{
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
}

.hidden-nav-link{
  background-color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.hidden-nav-link:hover{
  background-color: #99c455;
}

/* Landing CSS */

.landing-img img{
    height: 80vh;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.landing-section{
    position: relative;
}

/* Input CSS */

.absolute-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.564);
    bottom: 20%;
    top: 20%;
    left: 0;
    right: 0;
}

.input-container{
  display: flex;
  gap: 10px;
}

.input{
  display: flex;
  flex-direction: column;
}

.time-date-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

label{
  margin-top: 10px;
  font-size: .7em;
  color: rgb(112, 112, 112);
}
.selection-column{
  display: flex;
  flex-direction: column;
}

.dropdown select, input{
  padding: 5px;
  min-height: 10px;
  min-width: 130px;
  border: none;
  font-family: 'Poppins';
  font-size: 1em;
}

.full-width select{
  width: 100%;
}

.search-btn{
  display: flex;
  align-items: center;
  background-color: #99c455;
  font-size: 1em;
  padding: 5px 20px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.search-btn:hover{
  background-color: #749343;
}

.flex-end{
  justify-content: flex-end;
}

.no-display{
  display: none;
}

@media screen and (max-width: 920px){

  .input-container{
    flex-direction: column;
  }

  .search-btn{
    justify-content: center;
  }

  .row{
    flex-direction: row;
    gap: 10px;
  }

  .dropdown select{
    min-width: 160px;
  }
}

@media screen and (max-width: 705px){
  .nav-link{
    display: none;
  }

  .maroon-btn{
    display: none;
  }

  .menu{
    display: block;
  }
}

@media screen and (max-width: 510px) {
  .item{
    display: none;
  }
  
}
